.recent-recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-template-rows: auto;
    margin-top: 20px;
    column-gap: 10px;
    row-gap: 10px;
}

#recent-recipe-title {
    display: flex;
    justify-content: center;
    color: #b34700;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
    font-weight: 300px;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}
