.login-form {
    display: grid;
    background-color: #8EA68C;
    grid-template-rows: 1fr auto;
    justify-items: center;
    padding-bottom: 12.2%;
}

.login-labels {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
}

.errors {
    color: #CB200D;
}

.input-login {
    width: 16%;
    height: 3em;
    border-radius: 5px;
    padding-left: 1em;
    border: 1px solid #DFE1E5;
}

.login-input-containers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-login {
    margin-top: 2.5em;
    margin-bottom: 1%;
    width: 10%;
    height: 3em;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
    background-color: #ECE7B4;
    border: none;
    border-radius: 5px;
}
