.login-form {
    display: grid;
    background-color: #8EA68C;
    grid-template-rows: 1fr auto;
    justify-items: center;
    padding-bottom: 314px;
}

.login-labels {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
}

.errors {
    color: #CB200D;
}

.input-login {
    width: 150%;
    height: 3em;
}

.login-input-containers {
    display: flex;
    justify-content: center;
}

.submit-login {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 249px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
