.signup-form {
    display: grid;
    background-color: #8EA68C;
    grid-template-rows: 1fr auto;
    justify-items: center;
    padding-bottom: 5em;
}

.signup-labels {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
}

.input-signup {
    width: 19em;
    height: 3em;
    border-radius: 5px;
    border: 1px solid #DFE1E5;
}
