.recipe-detail-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "ingred list1 other1"
        "direct list2 other2";
}

.ingred-detail-label {
    grid-area: ingred;
}

.ingred-detail-list {
    grid-area: list1;
}

.direct-detail-label {
    grid-area: direct;
}

.direct-detail-list {
    grid-area: list2;
}

.recipe-detail-buttons {
    grid-area: other1;
}

.recipe-detail-category {
    grid-area: other2;
}
