.recipe-detail-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "ingred list1 other1"
        "direct list2 other2";
}
