#not-found-page {
    display: flex;
    justify-content: center;
}

#not-found-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
}

#alton-brown {
    margin-right: 100px;
}
