#not-found-page {
    display: flex;
    justify-content: center;
    background-color: #eff0f1;
    padding-top: 70px;
    padding-bottom: 130px;
}

#not-found-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
}

#alton-brown {
    margin-right: 100px;
}

#return-link {
    margin-top: 20px;
    text-decoration: none;
    font-family: Monaco, 'monospace', Arial, sans-serif;
    color: #0077cc;
}

#page-message {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif, Times, serif;
}
