#about-links-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E05D5D;
    height: 3.5em;
    font-family: Monaco, 'monospace', Arial, sans-serif;
}

.footer-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Monaco, 'monospace', Arial, sans-serif;
}
