.review-section {
    display: grid;
    grid-template-rows: 50px 75px;
    justify-content: center;
}

.reviews-container {
    display: grid;
    grid-auto-rows: 70px;
}

.review-articles {
    display: flex;
}

.review {
    display: flex;
    background-color: white;
    align-items: center;
    word-break: break-word;
    width: 400px;
}
