.review-section {
    display: grid;
    grid-template-rows: 50px 75px;
    justify-content: center;
}

.reviews-container {
    display: grid;
    grid-auto-rows: 70px;
    row-gap: 2ch;
}

.review-articles {
    display: flex;
}

.review {
    display: flex;
    background-color: white;
    align-items: center;
    word-break: break-word;
    padding-left: 15px;
    padding-right: 15px;
    width: 430px;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

#reviews-label {
    padding-left: 20px;
}
