.review-section {
    display: grid;
    grid-template-rows: fit-content(100%);
    justify-content: center;
}

.review-articles {
    display: flex;
}

.review {
    display: block;
    background-color: white;
}
