.navbar {
    display: flex;
    padding-top: 1em;
    border-bottom: solid;
    padding-bottom: 1.2em;
    justify-content: space-around;
    background-color: #E08627;
}

.session-button {
    box-sizing: content-box;
    width: 100px;
    height: 20px;
    border-radius: 12px;
}

.home-link {
    display: block;
    
}
