.recipe-form {
    display: grid;
    grid-template-rows: 40px;
    justify-content: center;
    row-gap: 10px;
    padding-bottom: 314px;
    background: linear-gradient(#E3B11A, #EF6510);
}

.recipe-form-labels {
    display: block;
    margin-bottom: 5px;
}

.delete-input-button {
    background-color: red;
    color: white;
}

.add-input-button {
    background-color: green;
    color: white;
}
